body {
  background: #FAFAFA; }

.off-canvas.position-left {
  width: 300px; }

.callout.primary {
  margin-left: 50px; }

.box {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 5px 10px;
  display: block;
  margin-top: 60px; }

.hidden {
  display: none; }
